{% extends 'base.html.twig' %}

{% block title %}BACKOFFICE | Ajout d'un véhicule{% endblock %}

{% block body %}
    <h1 class="text-center">BACKOFFICE | Ajouter un véhicule</h1>

    {{ include('shared/_form.html.twig', {button_label: "Ajouter"}) }}
{% endblock %}
