{% extends 'base.html.twig' %}

{% block title %}BACKOFFICE | Modification d'un membre{% endblock %}

{% block body %}
    <h1 class="text-center">BACKOFFICE | Modifier le véhicule {{ vehicle.title }}</h1>

    {{ include('shared/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
