{% extends "base.html.twig" %}

{% block title %}
    Inscription
{% endblock %}

{% block body %}
    <h1 class="text-center mb-2">Inscription</h1>
    
    {{ include('shared/_form.html.twig', {button_label: "S'inscrire"}) }}
{% endblock %}
