{% extends "base.html.twig" %}

{% block title %}
    Mon compte | Modifier ses informations
{% endblock %}

{% block body %}
    <h1>Modifier ses informations</h1>
    
    {{ include('shared/_form.html.twig', {button_label: "Modifier"}) }}
{% endblock %}
