{% extends 'base.html.twig' %}

{% block title %}BACKOFFICE | Création d'une Commande{% endblock %}

{% block body %}
    <h1 class="text-center">BACKOFFICE | Créer une commande</h1>

    {{ include('shared/_form.html.twig', {button_label: "Créer"}) }}
{% endblock %}
