{% extends 'base.html.twig' %}

{% block title %}Création d'une Commande{% endblock %}

{% block body %}
    <h1>Créer une commande</h1>

    {{ include('admin/renting/_form.html.twig') }}
{% endblock %}
